{% extends "layout.njk" %}

{% block headtitle %}
<title> Error - 404 </title>
{% endblock %}

{% block headstyle %}
<link rel="stylesheet" href="/css/not-found.css">
{% endblock %}


{% block content %}
<section id="notfound">


<div class="container notfound">
 <h2>PAGINA NÃO ENCONTRADA</h2>
 <a href="/">Voltar</a>
  <div class="row">
         <img src="/assets/favicon.svg" alt="">
        
        <img src="/assets/404.svg" alt="">
         </div>

         

</section>
{% endblock %}