{% extends "layout.njk" %}

{% block headtitle %}
<title>Foodfy - Receitas</title>
{% endblock  %}
  
{% block headstyle %}
<link rel="stylesheet" href="/css/recipes.css">
{% endblock%}
   {% block content %}
   
   <section class="container ">
    
   <div id="recipes">
       <div class="content-recipes">
    
               {% for item in items  %}
                 <div class="grids" >
                  <img src="{{item.image}}" alt="Imagem de {{item.title}}">
       
                  <h3>{{item.title}}</h3>
       
                  <p>{{ item.author}}</p>
              </div>
           {% endfor %}
       
       
         </div>
   </div>
   </section>

  
   {% endblock %}
  

</p>