@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root{
  --primary-color: #111111;
  --secondary-color: #777777;
}
html{
  font-size: 62.5%;

}

html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  min-height: 100%; 
}
body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
    
}
.container{
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
.title{
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 2rem;
}
.subtitle{
  font-size:1.4rem;
  color: var(--secondary-color);

}
a{
  text-decoration: none;
}

/* ===== Navbar ==== */
.navbar{
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.navbar img{
  margin-right: 10rem;
}
.navbar nav a{
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-right: 2rem;
}
.navbar nav a.active{
  font-weight: bold;
}


/* ===== Cards ===== */
.cards{
  display: grid;
  grid-template-columns: repeat(3, minmax(250px,1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}
.cards .card img{
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
}
.cards .card h4.title{
  font-size:1.8rem;
  font-weight:500;
  margin-bottom: .5rem;
}

/* ===== Footer ===== */
footer{
  margin-top: auto;
  background: #EEEEEE;
  padding: 2rem 0;
  text-align: center;
}
