main {
  margin-top: 5rem;
}
main img{
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}
.content  .column{
  display:flex;
  align-items: center;
  flex-direction: column;
}
.content div{
  margin-bottom:  3rem;
}
.content  .column .title{
  margin-bottom: .7rem;
}
.content .row{
  display: flex;
  align-items:center;  
}
.content .row .title{
  margin: 0 1rem 0 0;
  font-size: 2.4rem;
}
.content .row .subtitle{
  font-size: 1.2rem;
  margin-top: .6rem;
  cursor: pointer;
}
.content .list{
  padding: 0 0 0 2rem;
}
.content .list, .content div p{
  font-size: 1.8rem;
  color: var(--third-color);
  line-height: 2.8rem;
}
