{% extends './layout.njk' %}
{% block headstyle %}
  <link rel="stylesheet" href="/css/recipes/description.css"/>
{% endblock %}
{% block content %}
  <main>
    <div class="container">
      <img src="{{ item.image }}" alt="{{ item.image }}">
        <div class="content">
        <div class="column">
            <h2 class="title">{{ item.title }}</h2>
            <span class="subtitle">{{ item.author }}</span>
        </div>
          <div>
            <div class="row">
              <h2 class="title">Ingredientes</h2>
              <span class="subtitle button">ESCONDER</span>
            </div>
            <ul class="ingredients list details-content">
              {% for item in item.ingredient %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
          <div >
            <div class="row">
              <h2 class="title">Modo de preparo</h2>
              <span class="subtitle button">ESCONDER</span>
            </div>
            <ul class="preparation list details-content">
              {% for item in item.preparation %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
          <div>
            <div class="row">
              <h2 class="title">
                Informações adicionais</h2>
              <span class="subtitle button">ESCONDER</span>
            </div>
              <p class="details-content">{{ item.information }}</p>
          </div>
        </div>
      </div>
    </main>
  {% endblock %}
 