{% extends './layout.njk' %}
{% block headstyle %}
  <link rel="stylesheet" href="/css/home.css"/>
{% endblock %}
{% block content %}
  <section class="avatar container">
    <div class="content">
      <div>
        <h1 class="title">As melhores receitas</h1>
        <p>
          Aprenda a construir os melhores pratos com receitas criadas por
                    						profissionais do mundo inteiro
        </p>
      </div>
      <figure>
        <img src="/assets/chef.png" alt="Chefe avatar"/>
      </figure>
    </div>
  </section>
  <main>
    <div class="container">
      <h2 class="title">Mais acessadas</h2>
      <div class="cards">
        {% for item in items %}
          <a href='/recipes/{{ item.id }}'>
            <div class="card">
              <img src="{{ item.image }}" alt="Imagem de {{ item.title }}">
                <h4 class="title">{{ item.title }}</h4>
                <span class="subtitle">{{ item.author }}</span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </main>
  {% endblock %}