{% extends 'layout.njk' %}
{% block headstyle %}
  <link rel="stylesheet" href="/css/description.css"/>
{% endblock %}
{% block content %}
  <main>
    <div class="container">
      <img src="{{ item.image }}" alt="{{ item.image }}">
        <div class="content">
        <div class="column">
            <h2 class="title">{{ item.title }}</h2>
            <span class="subtitle">{{ item.author }}</span>
        </div>
          <div id="Ingredients">
            <div class="row">
              <h2 class="title">Ingredientes</h2>
              <span class="subtitle">ESCONDER</span>
            </div>
            <ul class="ingredients list">
              {% for item in item.ingredient %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
          <div id="preparation">
            <div class="row">
              <h2 class="title">Modo de preparo</h2>
              <span class="subtitle">MOSTRAR</span>
            </div>
            <ul class="preparation list">
              {% for item in item.preparation %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
          <div id="additional">
            <div class="row">
              <h2 class="title">
                Informações adicionais</h2>
              <span class="subtitle">ESCONDER</span>
            </div>
              <p>{{ item.information }}</p>
          </div>
        </div>
      </div>
    </main>
  {% endblock %}
 