{% extends 'layout.njk' %}
{% block headstyle %}{% endblock %}
{% block content %}
  <main style=" margin:6rem 0;">
    <div class="container">
      <div class="cards">
        {% for item in items %}
          <a href='/recipes/{{ item.id }}'>
            <div class="card">
              <img src="{{ item.image }}" alt="Imagem de {{ item.title }}">
                <h4 class="title">{{ item.title }}</h4>
                <span class="subtitle">{{ item.author }}</span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </main>
  {% endblock %}